//
//  Secrets.xcconfig
//  Tekken8 Frame Data
//
//  Created by 문영균 on 3/20/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_KEY = eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN5bnVxZGVpY2R1YXJ2anpnZXp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkxMDUzNDcsImV4cCI6MjA1NDY4MTM0N30.KDDnKyuDEV5r8Ls9ogis-KitXLw0MV8NX6U7dbx_72g
SUPABASE_URL = https:/$()/synuqdeicduarvjzgezw.supabase.co
